@import url(./__img/card__img.css);
@import url(./__item/card__item.css);
@import url(./__title/card__title.css);
@import url(./__like-btn/card__like-btn.css);

.card {
  background-color: #fff;
  border-radius: 10px;
  max-width: 282px;
  
}